.dashboard-body{
    width:100%;
}
.dashboard-container{
    display:flex;
    flex-direction:row;
    width:90%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    background-color: lightblue;
}

/* HERO SECTION */
.hero-container{
    display:flex;
    flex-direction:column;
    background: rgba(204, 204, 204, 0.5);
    margin:10px;
    border-radius:5px;
    height:60%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.greeting-container{
    background-color:blue;
    color:white;
}
.hero-welcome-message-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.greeting-container{
    text-align:center;
}
.hero-img-container{
    width:300px;
}
.hero-img-container > img{
    border-radius: 50%;
}
.hero-details-container{
    display:flex;
    flex-direction:column;
    background-color:blue;
    color:white;
    border-radius: 0px 0px 5px 5px;
}
.hero-details-container > div{
    display:flex;
    flex-direction:row;
    padding:5px;
}
.name-container > div,
.email-container > div,
.phone-container > div,
.supervisor-container > div{
    margin-right:10px;
    font-weight: bold;
}

/* CALL SUMMARY SECTION */

.contacts-summary-main-container{
    display:flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin:10px;
}
.contacts-summary-main-container > div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px;
}
.contacts-summary-container > div{
    display:flex;
    flex-direction:row;
}

.title{
    background-color: blue;
    padding:10px;
    width: 80px;
    height:80px;
    margin:0px 0px 10px 10px;
    display:flex; 
    align-items: center;
    text-align:center;
    color:white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.title:hover,
.content:hover,
.all-contacts-content:hover{
    background-color: #333;
    color:white;
}
.content{
    background-color: dodgerblue;
    padding:10px;
    width: 80px;
    height:80px;
    margin:0px 0px 10px 0px;
    display:flex; 
    align-items: center;
    text-align:center;
    color:white;
    font-size:xxx-large;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

    
.all-contacts-title{
    background-color: #333;
    padding:10px;
    width: 80px;
    height:80px;
    margin:0px 0px 10px 10px;
    color:white;
    display:flex;
    align-items: center;
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.all-contacts-content{
    background-color: dodgerblue;
    padding:10px;
    width: 80px;
    height:80px;
    margin:0px 0px 10px 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    display:flex; 
    align-items: center;
    text-align:center;
    color:white;
    font-size:xxx-large;

}
.announcement-container{
    display:flex;
    flex-direction:row;
    width:100%;
    align-items: center;
}

.announcement-img-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:10%;
}
.announcement-img-container >img{
    width:50px;
}
.announcement-message{
    width:90%;
}